:root {
  --blue: #29009f;
  --purple: #4214c8;
  --white: #ffffff;
  --gray: #4e4a5a;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.nav {
  background: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.08);
  padding: 10px 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.menus {
  display: flex;
  align-items: center;
}

.menus button {
  margin-left: 24px;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 24px;
  border: none;
  color: var(--purple);
  font-weight: 700;
  font-size: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 24px;
  font-size: 16px;
}

/* Header */
.header {
  padding: 4rem 6rem;
}

.header h1 {
  color: var(--blue);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 80px;
  margin-bottom: 24px;
}

.header p {
  color: #645f71;
  font-size: 1.3rem;
  line-height: 30px;
}

/* newsletter */
.newsletter {
  padding: 4rem 6rem;
}
.newsletter > div {
  background: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);
  color: var(--white);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 44px 212px;
}
.newsletter h2 {
  font-size: 2rem;
  margin: 8px 0px;
}
.newsletter p {
  margin: 8px 0px;
}

.field {
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  max-width: 732px;
  margin-top: 32px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.field input {
  border: none;
  border-radius: 10px 0 0 10px;
  width: 85%;
  height: 100%;
  outline: 0;
}
.field button {
  border: none;
  border-radius: 10px;
  background-color: var(--purple);
  height: 100%;
  flex: 1;
  color: var(--white);
  padding: 10px;
  font-size: 1rem;
}

/* footer */
.footer {
  padding: 4rem 6rem;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}
.footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}
.footer li {
  margin-bottom: 12px;
  color: #797488;
}
.socials {
  width: 20%;
}
.socials ul {
  display: flex;
}
.socials ul li {
  margin-right: 15px;
}

.identity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.identity p {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2rem;
}

.zedi {
  width: 15%;
}

.contact {
  width: 30%;
}

/* Table */
.tableContainer {
  padding: 4rem 6rem;
}
.head {
  background-color: #612ff1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #9e7cff;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  margin: 16px 0px;
}

.head div {
  border-left: 1px solid #9e7cff;
  padding: 1.15rem 1rem;
}

.item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #beb9cc;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--gray);
  margin: 16px 0px;
}

.item div {
  border-left: 3px solid #beb9cc;
  padding: 1.15rem 1rem;
}

.item input,
.item select {
  color: var(--gray);
  font-size: 16px;
  border: none;
  outline: 0;
  width: 100%;
}

.no-border {
  border: none !important;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot {
  background-color: #4214c8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #9e7cff;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  margin-top: 5rem;
}

.foot div {
  padding: 1rem;
}

.border {
  border-left: 1px solid #beb9cc;
}

.add button {
  padding: 10px 16px;
  background: #beb9cc;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.add img {
  margin-left: 5px;
}
